body {
  width: 100%;
  /* max-width: 640px; */
  margin: 0px auto;
  padding: 0em;
  box-sizing: border-box;
  background: #000000;
  /* font-family: "Varela Round", sans-serif; */
  color: #633645;
  line-height: 1.3;
}
body > div {
  /* padding: 2em; */
  background: rgba(255, 255, 255, 0.7);
  /* border: 10px solid white; */
}

h2, p, ul {
  padding-bottom: 1em;
}

/* h2 {
  text-align: center;
  font-size: 2em;
} */

/* p {
  font-size: 1.2em;
} */

#midi-data ul img 
{
  width: 100px;
}

img 
{
	/* 972x360 */
	position: absolute;
	left: -306px;
  top: 306px;
	transform: rotate(-90deg);
	/* margin-top: auto;
  margin-bottom: auto; */
	
	/* height: width; */
	/* width: height; */
  /* width:100%; */
}


#midi-data {
  position: absolute;
  overflow: hidden;
  height: 50px;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(133, 71, 122, 0.7);
}
#midi-data ul {
  position: absolute;
  left: 0px;
  bottom: 0px;
  /* padding: 1em; */
}
#midi-data ul li {
  /* padding: 0.2em 0.2em 0.2em 1em; */
  font-size: 1.6em;
  /* font-family: monospace; */
}
#midi-data ul li:last-child {
  
  color: #85477a;
  /* animation: flash 0.5s; */
}
#midi-data ul li:last-child:before {
  content: "> ";
  margin-left: -1em;
}

/* @keyframes flash {
  0% {
    color: #c9b21d;
  }
  100% {
    color: #85477a;
  } */
/* } */