body {
  /* width: 90%; */
  /* max-width: 640px; */
  /* margin: 0px auto; */
  padding: 2em;
  box-sizing: border-box;
  background: #000000;
  /* font-family: "Varela Round", sans-serif; */
	font-family: "stealth57 Regular";
	src: url("stealth57.ttf");
	letter-spacing: 3px;
  color: #26c000;
  line-height: 1.3;
}

body > div 
{
  background: rgba(0, 0, 0, 1);
}

.wrapper
{
	position: absolute;
	left: 0px;
	top: 0px; 
	transform-origin:top left;
	transform: rotate(-90deg) translateX(-100%);
  width: 100vh; height: auto;
}

img 
{
	position: absolute;
	left: 0px;
	top: 0px; 
	width: 100vh; height: auto;
	visibility: hidden;
}


.footer
{
position: absolute;
right: 0px;
bottom: 0px; 
transform-origin:bottom right;
transform: rotate(-90deg) translateX(100%);
width: 100vh; height: auto;
background: rgba(0, 21, 44, 1);
}

gr
{
	left: 0px;
	bottom: 0px; 
	text-align: left;
  font-size: 3em;
	color: #00d9ff;
	z-index: 12;
}

io
{
	text-align: left;
  font-size: 3em;
	color: #ffffff;
	z-index: 12;
}



ra
{
	width: 13vh;
	height: 24vh;
	border-style: dashed;
	border-color: #00d9ff;
	position: absolute;
	left: 0px;
	top: 0px; 
	font-size: 3em;
	z-index: 13;
	color: #ddda14;

}

#midi-data {
	position: absolute;
	right: 0px;
	top: 0px; 
	transform-origin:bottom right;
	transform: rotate(-90deg) 
	translateX(15%);

	width: 25vh; height: 10vw;
background: rgb(0, 0, 0);

font-size: 1.4em;
z-index: 13;


  /* position: relative; */
  overflow: hidden;
  height: 40px;

  /* background: rgba(255, 255, 255, 0.9); */
  /* border: 2px solid rgba(133, 71, 122, 0.7); */
}
#midi-data ul {
  position: absolute;
  left: 0px;
  bottom: 0px;
}


#midi-data ul li:last-child 
{
  
  color: #464646;
	padding: 0.2em 0.2em 0.2em 0.2em;
  /* animation: flash 0.5s; */
}
